body{
    background-image: linear-gradient(to right,#776e75,#6889c2);
}

.header {
    text-align: center;
}
.waterfall {
    column-count: 3;
    column-gap: 0;
}

.item {
    box-sizing: border-box;
    break-inside: avoid;
    padding: 10px;
}

.item img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}



